* {
    margin: 0;
    padding: 0; 
}
    

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 85vw;
    margin-top: 40px;
}

th {
    font-weight: bold;
    text-transform: capitalize;
    background-color: grey; 
    color: white;
}

th,
td {
    border: 1px solid black;
    padding: 2px 2px;
}
h1 {
    text-align: center;
}


label {
    font-weight: bold;
    text-transform: capitalize;
}

.inputError {
    border: 4px solid red;
    box-shadow: 0 0 5px red;
}

.inputOk {
    border: 1px solid green;
    box-shadow: 0 0 5px green;
}

.danger {
    color: red;
    font-weight: bold;
}

small {
    display: block;
}
.spinnerVisible {    
    display: block;
}

.spinnerHidden {
    display: none;  
}

.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.lds-dual-ring {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid green;
    border-color: green transparent green transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

img{
    width: 40px;
    height: 60px;
}
#spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #474bff;
    background: linear-gradient(currentColor 0 0) center/100% 4.5px,
           linear-gradient(currentColor 0 0) center/4.5px 100%,
           radial-gradient(farthest-side,#0000 calc(100% - 6.7px),currentColor calc(100% - 5.6px)),
           radial-gradient(circle 6.7px,currentColor 94%,#0000 0);
    background-repeat: no-repeat;
    animation: spinner-mu2ebf 1s infinite linear;
    position: relative;
  }
  
  #spinner::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: inherit;
    transform: rotate(45deg);
  }
  
  @keyframes spinner-mu2ebf {
    to {
       transform: rotate(.5turn);
    }
  }